* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(88, 88, 88);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

nav li a:hover:not(.active) {
    background-color: rgb(61, 128, 83);
}

body {
    margin: 0;
    background-color: rgb(36, 35, 35);
}

.container {
    display: flex;
    width: 100vw;
    /*height: 100vh; */ 
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.flex-child {
    background-color: rgb(55, 107, 91);
    /* margin: 50px; */ 
    color:white;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

.main {
    padding: 10px 25px 10px 25px;
    border-radius: 18px;
    resize: both;
    width: 1000px;
    margin-top: 100px;
}

.main h1 {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.main img {
    border-radius: 15px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.main a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.description,
.ingredients,
.instructions {
    padding: 25px;
    margin: 20px 0 5px 0;
    border-radius: 18px;
    width: min(100%, 1000px);
    
}

.description h2, h4
.ingredients h2, h4
.instructions h2, h4 {
    margin-bottom: 5px;
}

.instructions{
    margin-bottom: 100px;
}

.ingredients ul {
    list-style-position: inside;
}

.instructions ol {
    list-style-position: inside;
}

.ingredients ul li {
    padding-top: 15px;
    padding-bottom: 15px;
}

.instructions ol li {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media screen and (max-width:550px) {
    .main {
        width: 100%;
        font-size: 2vw;
    }

    .main img {
        height: auto;
        width: 100%;

    }
}